<div class="newshakecenter">
  <div class="shaketitle">
    此活动和奖品由
    <p>{{shake.titleNm}}</p>
    发起提供
  </div>
  <div class="shakebg"></div>
  <div class="shakenum">
    {{shake.shakeLeftNm}}&nbsp;
    <span class="shake numplus">{{shake.result}}</span>
    &nbsp;次
  </div>
  <div class="shakebt">
    <div class="row row-reset" ng-if="shake.dataInfo.toolbarbutton!=''">
      <div class="col" ng-class="{colreset:$index!=shake.buttons.length-1}" ng-repeat="button in shake.buttons" ng-click="shake.goToLink(button)">
        {{button.navigation_name}}
      </div>
    </div>

    <div class="activerule" ng-click="shake.showactive=!shake.showactive">活动规则</div>
  </div>
  <audio src="assets/shake.mp3" id="showAudio" preload="auto"></audio>
  <!-- 活动规则 -->
  <div class="activerulecontent" ng-if="shake.showactive">
    <span class="activeruletitle">活动时间：</span>
    <span>{{shake.dataInfo.startTime}}~{{shake.dataInfo.endTime}}</span>
    <span class="activeruletitle">奖项说明：</span>
    <span ng-repeat="award in shake.dataInfo.awards">{{award.PrizeName}}：{{award.Description}}</span>
    <span class="activeruletitle">活动说明：</span>
    <span ng-bind-html="shake.dataInfo.content"></span>

    <em class="iconfont icon-guanbi font28" ng-click="shake.showactive=false;"></em>
  </div>
  <!-- 抽奖未中奖界面 1shake.shownoresult 2shake.nowinning 3shake.hasnopoints-->
  <div class="activepity" ng-if="shake.showNoPoint||shake.showLostLottery">
    <div ng-if="shake.showLostLottery">
      <span class="iconfont icon-henyihan margintop30"></span>
      <span class="activepitytitle margintop30" style="margin-bottom:20px;">真遗憾！离大奖就一步之遥了， 换个姿势再摇一次。</span>
      <span class="shakeagine activepitytitle" ng-click="shake.showLostLottery=false;shake.isCouldShake = true">再摇一次</span>
      <em class="iconfont icon-guanbi font28" ng-click="shake.showLostLottery=false;shake.isCouldShake = true"></em>
    </div>
    <div ng-if="shake.showNoPoint">
      <span class="iconfont icon-henyihan margintop30"></span>
      <span class="activepitytitle margintop30">真遗憾！</span>
      <span class="activepitytitle">您的积分不足 !</span>
      <span class="activepitytitle">{{shake.showNoPointNm}}。</span>
      <em class="iconfont icon-guanbi font28" ng-click="shake.showNoPoint=false;shake.isCouldShake = true"></em>
    </div>
  </div>
  <!-- 优惠券中奖界面 1shake.showintegral 2shake.hasnopostage 3shake.hascoupons-->
  <div class="activeintegral" ng-if="shake.showCoupon||shake.showFull">
    <span>恭喜你中奖了！</span>
    <!-- 免邮劵 -->
    <div class="freepostage" ng-if="shake.showCoupon">
      <span class="freepostagetitle">{{shake.awardInfo.cardcoupon_name}}</span>
      <span class="freepostagetime">有效期：{{shake.awardInfo.cardcoupon_start}}至{{shake.awardInfo.cardcoupon_end}}</span>
    </div>
    <!-- 100元券 -->
    <div class="onehundred" ng-if="shake.showFull">
      <!-- <span class="money">￥<i>{{price}}</i></span> -->
      <span class="onehundredtitle">{{shake.awardInfo.cardcoupon_name}}</span>
      <span class="onehundredtime">有效期：{{shake.awardInfo.cardcoupon_start}}至{{shake.awardInfo.cardcoupon_end}}</span>
    </div>
    <a href="/customize/shop/?v=1.0#/infoCenter" class="entercenter">进入个人中心查看</a>
    <em class="iconfont icon-guanbi font28" ng-click="shake.showCoupon=false;shake.showFull=false;shake.isCouldShake = true"></em>
  </div>
  <!-- 积分中奖界面 1shake.showpoints-->
  <div class="activeintegral" ng-if="shake.showPoints">
    <span>恭喜你中奖了！</span>
    <span class="integrals"><i class="titlesz50">{{shake.awardInfo.awardName}}</i></span>
    <!--<a href="/customize/shop/?v=1.0#/infoCenter" class="entercenter">进入个人中心查看</a>-->
    <em class="iconfont icon-guanbi font28" ng-click="shake.showPoints=false;shake.isCouldShake = true"></em>
  </div>
  <!-- 自定义中奖界面 -->
  <div class="activeintegral" ng-if="shake.showCustomize">
    <span>恭喜你中奖了！</span>
		<span class="integrals"> <i class="font28">{{shake.awardInfo.awardName}}</i>
		</span>
    <a href="/customize/shop/?v=1.0#/infoCenter" class="entercenter">进入个人中心查看</a>
    <em class="iconfont icon-guanbi font28" ng-click="shake.showCustomize=false;shake.isCouldShake = true"></em>
  </div>
  <!-- 推荐商品 -->
  <div class="sopity" ng-if="shake.showNoTimes">
    <span class="iconfont icon-henyihan margintop30"></span>
    <span class="yellowcolor">真遗憾！{{shake.showNoTimeNm}}！</span>
    <span class="shakeagainten" ng-if="shake.isShowUseScore" ng-click="shake.shakeUsePointFunc();">{{shake.dataInfo.usePoints}}积分再摇1次</span>
    <em class="iconfont icon-guanbi font28" ng-click="shake.isUseScore=false;shake.showNoTimes=false;shake.isCouldShake = true"></em>
  </div>
</div>
